@page
@model ServerModel
@using KDRSManagerRazor.Models;
@{
    ViewData["Title"] = "Server";

}

<div id="result"></div>

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
@Html.Hidden("PostID", Model.comment)
@using (Html.BeginForm())
{
<div class="tab-content">
    <div class="row">
        <div class="col">
            <label for="ip">Server adresse:</label>

        </div>
        <div class="col">
            <input id="ip" type="text" asp-for="ip">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="user">Bruker Id</label>
           
        </div>
        <div class="col">
            <input id="user" type="text" asp-for="user">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="pw">passord</label>
          
        </div>
        <div class="col">
            <input id="password" type="password" asp-for="pw">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input Value="Submitt" type="Button" id="Submit" onclick="addServer()">
           
        </div>
        <div class="col">
            <input Value="Load" type="Button" id="Load" onclick="LoadServers()">
        </div>
    </div>
    </div>
    }
    Ip: @Model.ip
    User: @Model.user
    PW: @Model.pw

    <table id="ServerTable" cellpadding="20" cellspacing="20" onload="LoadServers()">
        <thead>
            <tr><th>Server</th><th>User</th><th>Password</th></tr>
        </thead>

        <tbody id="serverlist"></tbody>
    </table>

    <table id="ServerTable2" cellpadding="20" cellspacing="20">
        <thead>
            <tr><th>Server</th><th>User</th><th>Password</th></tr>
        </thead>
        <tbody id="serverlist">
            @foreach (Server srv in Model.ServerList())
            {
                if (srv != null)
                {
                    <tr><td>@srv.Adress</td><td>@srv.UserID</td><td>@srv.Password</td></tr>
                }
            }
        </tbody>
    </table>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $('.input-daterange').hide();
    </script>
    <script>
        var count = 1;
        (function () {
            LoadServers();

        })();

        function addServer() {
            if (typeof (Storage) !== "undefined") {

                localStorage.setItem("Server" + count, document.getElementById('ip').value + ";" + document.getElementById('user').value + ";" + document.getElementById('password').value);
                document.getElementById("result").innerHTML = "You have clicked the button " + localStorage.Server;
                count++;
                LoadServers();
            } else {
                document.getElementById("result").innerHTML = "Sorry, your browser does not support web storage...";
            }

        }

        function LoadServers() {
            var tbody = document.getElementById("serverlist");
            tbody.innerHTML = "";
            for (var i = 1; i < localStorage.length + 1; i++) {

                var str = localStorage.getItem("Server" + i);
                var res = str.split(";");
                var table = document.getElementById("ServerTable");

                var row = document.createElement("tr");
                var cell1 = document.createElement("td");
                var cell2 = document.createElement("td");
                var cell3 = document.createElement("td");
                cell1.innerHTML = res[0];
                cell2.innerHTML = res[1];
                cell3.innerHTML = res[2];
                row.appendChild(cell1);
                row.appendChild(cell2);
                row.appendChild(cell3);
                tbody.appendChild(row);
                table.appendChild(tbody);
                count = i + 1;
                document.getElementById('PostID').value = cell1;
            }

        }
    </script>
